In [1]:
import os
import pandas as pd
import seaborn as sns
import pickle
import numpy as np
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
datapath = "../data/"
outputs = "../outputs/"

In [3]:
df_miraflores = pd.read_csv(os.path.join(datapath,'19-07-miraflores-alerts.csv'))
df_montevideo = pd.read_csv(os.path.join(datapath,'19-07-montevideo-alerts.csv'))

In [4]:
df_miraflores.head()

,uuid,latitude,longitude,type,subtype,interactions,street,reliability,start_time,end_time
0,18d86b5a-b40d-343c-9914-b1f9e96558f2,-12.125656,-77.038671,ACCIDENT,NaN,63,Vía Expresa Costa Verde,10,2019-07-23 00:09:00.000,2019-07-23 01:22:00.000
1,bacbbb1e-b77e-3cb5-846b-adb8850b6056,-12.135582,-77.029071,ACCIDENT,ACCIDENT_MINOR,61,Vía Expresa Costa Verde,10,2019-07-26 18:35:00.000,2019-07-26 19:29:00.000
2,4894a737-f2a6-3a97-a4cf-2e74ddcc6ffe,-12.119155,-77.046048,ACCIDENT,ACCIDENT_MINOR,49,Vía Expresa Costa Verde,10,2019-07-02 14:43:00.000,2019-07-02 15:50:00.000
3,5f44b434-8e05-363d-acb7-2e973b532247,-12.128255,-77.005020,WEATHERHAZARD,HAZARD_ON_ROAD_CONSTRUCTION,48,Av. Alfredo Benavides,10,2019-07-24 12:39:00.000,2019-07-24 15:25:00.000
4,0f45d1b9-39ce-33cd-b294-ea7f5cef242e,-12.110754,-77.053766,WEATHERHAZARD,HAZARD_ON_ROAD_CAR_STOPPED,48,Vía Expresa Costa Verde,10,2019-07-17 16:40:00.000,2019-07-17 17:42:00.000

In [5]:
df_montevideo.head()

,uuid,latitude,longitude,type,subtype,interactions,street,reliability,start_time,end_time
0,8462624d-5c9d-318a-823d-d53f785e495d,-34.907669,-56.176553,WEATHERHAZARD,HAZARD_ON_ROAD_POT_HOLE,108,Canelones,10,2019-07-07 13:10:00.000,2019-07-13 06:32:00.000
1,e9892303-a651-32cd-8399-5c5dd0c9bb8e,-34.923522,-56.161606,WEATHERHAZARD,HAZARD_ON_ROAD_POT_HOLE,90,Francisco García Cortinas,10,2019-07-16 22:26:00.000,2019-07-29 11:41:00.000
2,67f92a84-1a74-331c-8272-cb2330254283,-34.895943,-56.167902,WEATHERHAZARD,HAZARD_ON_ROAD_POT_HOLE,84,Daniel Muñoz,10,2019-07-18 14:26:00.000,2019-07-22 19:23:00.000
3,ecf70f1c-4b17-3410-91f9-a7efd7bf1aed,-34.875881,-56.180787,WEATHERHAZARD,HAZARD_ON_ROAD_POT_HOLE,76,Av. Gral. Garibaldi,10,2019-07-11 15:42:00.000,2019-07-17 21:41:00.000
4,5a0e0e71-d29d-3e28-bbed-e371580235e6,-34.893478,-56.159235,WEATHERHAZARD,HAZARD_ON_ROAD_POT_HOLE,73,Av. Dr. Américo Ricaldoni,10,2019-07-22 16:48:00.000,2019-07-26 20:36:00.000

In [6]:
df_miraflores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32405 entries, 0 to 32404
Data columns (total 10 columns):
uuid            32405 non-null object
latitude        32405 non-null float64
longitude       32405 non-null float64
type            32405 non-null object
subtype         30961 non-null object
interactions    32405 non-null int64
street          32134 non-null object
reliability     32405 non-null int64
start_time      32405 non-null object
end_time        32405 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.5+ MB

In [7]:
df_montevideo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26542 entries, 0 to 26541
Data columns (total 10 columns):
uuid            26542 non-null object
latitude        26542 non-null float64
longitude       26542 non-null float64
type            26542 non-null object
subtype         24871 non-null object
interactions    26542 non-null int64
street          26198 non-null object
reliability     26542 non-null int64
start_time      26542 non-null object
end_time        26542 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.0+ MB

In [10]:
df_miraflores.dtypes

uuid             object
latitude        float64
longitude       float64
type             object
subtype          object
interactions      int64
street           object
reliability       int64
start_time       object
end_time         object
dtype: object

In [10]:
df_montevideo.dtypes

uuid             object
latitude        float64
longitude       float64
type             object
subtype          object
interactions      int64
street           object
reliability       int64
start_time       object
end_time         object
dtype: object

In [8]:
df_miraflores.describe()

           latitude     longitude  interactions   reliability
count  32405.000000  32405.000000  32405.000000  32405.000000
mean     -12.119841    -77.027472      1.844839      5.827372
std        0.008257      0.010909      2.939573      1.477585
min      -12.169412    -77.055753      1.000000      5.000000
25%      -12.126514    -77.032454      1.000000      5.000000
50%      -12.120594    -77.028134      1.000000      5.000000
75%      -12.113341    -77.021434      1.000000      6.000000
max      -12.098063    -77.001493     63.000000     10.000000

In [9]:
df_montevideo.describe()

           latitude     longitude  interactions   reliability
count  26542.000000  26542.000000  26542.000000  26542.000000
mean     -34.879514    -56.166598      2.390965      6.074523
std        0.028245      0.040492      4.795191      1.515535
min      -34.929126    -56.350176      1.000000      5.000000
25%      -34.899780    -56.189392      1.000000      5.000000
50%      -34.887299    -56.165379      1.000000      6.000000
75%      -34.867615    -56.147680      1.000000      6.000000
max      -34.699358    -56.031563    108.000000     10.000000

In [12]:
for cat in df_miraflores.columns:
    print("Number of levels in category '{0}': \b {1:2.2f} ".format(cat, df_miraflores[cat].unique().size))

Number of levels in category 'uuid':  32404.00
Number of levels in category 'latitude':  17008.00
Number of levels in category 'longitude':  18873.00
Number of levels in category 'type':  4.00
Number of levels in category 'subtype':  25.00
Number of levels in category 'interactions':  49.00
Number of levels in category 'street':  289.00
Number of levels in category 'reliability':  6.00
Number of levels in category 'start_time':  15643.00
Number of levels in category 'end_time':  15550.00

#correlation matrix
corrmat = df_miraflores.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrmat, vmax=.8, square=True);

In [11]:
#missing data
total = df_miraflores.isnull().sum().sort_values(ascending=False)
percent = (df_miraflores.isnull().sum()/df_miraflores.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

              Total   Percent
subtype        1444  0.044561
street          271  0.008363
end_time          0  0.000000
start_time        0  0.000000
reliability       0  0.000000
interactions      0  0.000000
type              0  0.000000
longitude         0  0.000000
latitude          0  0.000000
uuid              0  0.000000